/* body {
    background-image: URL("../../pexels-madison-inouye-1831234.jpg");
    z-index: -5;
  } */
  body {
    background-image: url("https://ashlynimages.s3.us-east-2.amazonaws.com/75-755775_dots-2-watercolor-black-polka-dots.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }